# Web service dependencies
uvicorn
fastapi
pydantic
pydantic-settings
httpx

# Cache and DB dependencies
redis
clickhouse-connect

# Data analysis and modelling dependencies
ulid-py
numpy
pandas
polars
polars-ds
scipy
scikit-learn
joblib

# Visualisation dependencies (Jupyter Notebook Only)
plotly
ipycytoscape

# Test dependencies
pytest
pytest-asyncio
pytest-cov
testcontainers[redis,clickhouse]
